.navbar-container {
    background: center center/cover no-repeat url('../svgs/wave\ \(5\).svg');
    display: flex;
    flex-direction: column;
    height: 220px;
    padding: 2em;
}
.list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.link-item {
    list-style: none;
}
.link-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .navbar-container {
        padding-bottom: 0;
        height: 150px;
    }
    ul {
        padding: 0;
        margin: 0;
    }
}
