.navbar-container {
    display: flex;
    flex-direction: column;
}
.list-item-container {
    display: flex;
    flex-direction: row;
}
.link-item {
    transform: translate(10em, -15em);
    list-style: none;
    margin: 0 5em;
}
.link-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.link-btn:hover {
    transform: translateY(-1em);
    transition: .5s;
}
