.profileContainer {
    position: relative;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.titlesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title-dev{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    /* animation: entrance 1s ease-in-out 0s 1 normal forwards; */
}

  .title {
  font-family: 'Author', sans-serif;
  font-size: 120px;
  margin: 0;
}

.special-title {
  color: #F7B9A1;
  padding: 0 .2em;
}

.titlesContainer > div > h1:hover {
    color:white;
    transition: .5s;
}

.shadow {
	animation: shadow-drop-br 0.5s linear both;
}

@keyframes shadow-drop-br {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 70px 70px 80px -70px rgba(0, 0, 0, .8);
    }
  }

  @keyframes entrance {
    0% {
      transform: scale(2);
      transform-origin: 0% 50%;
    }
  
    100% {
      transform: scale(1);
      transform-origin: 0% 50%;
    }
  }



@keyframes color-animation {
  0%    { color: #291b25 }
  25%   { color: #f6f6e9 }
  50%   { color: #291b25 }
  75%   { color: #f6f6e9 }
  100%  { color: #291b25 } 
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 60px;
  }
  .title-dev {
    margin: 2em 0;
  }
  .title-dev {
    flex-direction: column;
  }
}