.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8em 4em;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
    align-items: center;
    justify-items: center;
    align-self: center;
    margin: 4rem 0;
    /* animation: entrance 1s ease-in-out 0s 1 normal forwards; */
}

.gridContainer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height:5em;
    border: 5px solid;
    border-color: white;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
}

@keyframes entrance {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
}