.gridContainer {
    display: grid;
    height: 100%;
    grid-template-columns: .5fr .5fr .5fr .5fr;
    grid-template-columns: .5fr .5fr .5fr .5fr;
    gap: 4em .5em;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
    align-items: center;
    justify-items: center;
    align-self: center;
    margin: 1rem 0;
    /* animation: entrance 1s ease-in-out 0s 1 normal forwards; */
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height:5em;
    padding: 1em;
    border: 5px solid;
    border-color: white;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
}
.gridContainer > div:hover {
  background-color: #291b25;
  transition: .5s;
  border-color: #291b25;
  color: #fff
}

@keyframes entrance {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@media only screen and (max-width: 1000px) {
    .gridContainer {
      display: grid;
      grid-template-columns: .3fr .3fr;
      gap:  1em;
      grid-template-areas:
      ". ."
      ". ."
      ". .";
      justify-content: center;
    }
}